@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto');

$title-font:'Abril Fatface', cursive;
$font-rest-of-the-page:Roboto,sans-serif;

*{
    margin:0;
    padding:0;
  }
  body {
    color: black; 
    font-family: $font-rest-of-the-page;
}
  
  .App-Header {
    background-color:#4559B2;
    text-align: center;
    padding: 2%;
    color: white; }
  
    .App-title{
        text-shadow: 1px 1px 5px black;
        font-family:$title-font ;
    }

  .App-description {
    background-color: #7c94ff;
    padding: 1%;
    color: white;
    text-align: center; }
  
  .container {
    display: flex;
    padding: 4%;
    font-size: 1em;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  
  textarea {
    resize: none;
    font-size: 0.8em;
    overflow: scroll;
    border: 5px solid #7EB24E;
    border-radius:5px;
    padding: 10px;
    width: 485px;
    height: 385px; }
  
  .marked-down-preview {
    font-size:0.8em;
    border: 5px solid #FFAF95;
    overflow: scroll;
    color: black;
    padding: 10px;
    width: 485px;
    height:385px;
  
    
  code{
    background-color:pink;
    padding:1%;
    border-radius:5px;
    color:#E00;
  }
  
  }
  
  .copyright{
    padding:3%;
    background-color:#4559B2;
    text-align: center;
  }
  
  .copyright-link{
      font-family: $title-font;
      text-shadow: 1px 1px 5px black;
      color:white;
      font-weight: bold;
      letter-spacing: 1px;
      font-size:1.1em;
      &:hover,&:visited,&:active{
          color:white;
      }
  }